body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}
.siliconValley {
    width: 50%;
    height:50%;
}
.boxerPuncher{
    border:1px solid blue;
}
.swarmer{
    border:1px solid orange;
}
.slugger{
    border:1px solid purple;
}
.outBoxer{
    border:1px solid red;
}
#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}
.answerContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content:center;
}
.answer{
    width: 40%;
    text-align: center;
    border:1px solid black;
    margin: .5%
}
.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: white;
    background-color: red;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}

body{
    margin-left:20px;
}
/*.Test{*/
/*    visibility:collapse;*/
/*    height:0px;*/
/*    transition:all .2s;*/
/*    box-sizing: border-box;*/
/*    border:solid 1px transparent;*/
/*}*/
.Test.active {
    visibility:visible;
    height:100vh;
}
.contentContainer{
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
}
.leftContent{
    width:40%;
}
.rightContent{
    text-align:center;
    width:60%;    
}
img{
    width:60%;
}
.Container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.imgContainer{
    width: 40%;
    text-align: center;
}
.rightImg{
    width: 40%;
    text-align: center;
}