body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}
.siliconValley {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}
.ImgContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.leftImg{
    width: 40%;
    text-align: center;
    border:1px solid black;
}
.rightImg{
    width: 40%;
    text-align: center;
    border:1px solid black;
}
.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: white;
    background-color: red;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}

body{

    margin-left:20px;
}
